.Home-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 40px;
    
}

.home-container-mid{
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.home-container-below{
    font-size: 94px;
    color: #000;
    font-weight: 700;
    letter-spacing: -5px;
    margin-top: -10px;
}
.home-container-below-1{
    font-size: 94px;
    color: #000;
    font-weight: 700;
    letter-spacing: -5px;
    margin-top: -15px;


}
.home-container-below-2{
    font-size: 94px;
    color: #000;
    font-weight: 700;
    letter-spacing: -5px;
    margin-top: -15px;


}

.home-container-below-3{
    font-size: 30px;
    color: #00000067;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 20px;


}
.About-exp{
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 40px;
}
.about-exp-head{
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 30px;
}

.about-exp-para{
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
}

.home-container-below-4{
    font-size: 30px;
    color: #00000060;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: -10px;


}

.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #000;
    --color-outline: #D9251C;
    --color-shadow: #D9251C;
    margin-top: 60px;
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
    font-size: 22px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-shadow);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-outline);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }

  
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }


  @media (max-width: 768px) {
    .Home-container {
        margin-top: 50px;
    }

    .home-container-below,
    .home-container-below-1,
    .home-container-below-2 {
        font-size: 24px;
        letter-spacing: -1px;
        margin-top: 0;
    }

    .home-container-below-3{
        font-size: 14px;
        margin-top: 10px;
        width: 90%;
    }

    .home-container-below-4 {
        font-size: 14px;
        margin-top: 0px;
        width: 90%;

    }

    .home-container-mid{
      margin-bottom: 10px;
    }

    .btn-conteiner {
        margin-top: 20px;
    }

    .btn-content {
        font-size: 14px;
        padding: 0px 16px;
    }

    .icon-arrow {
        width: 12px;
        margin-left: 8px;
    }
    .about-exp-head{
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 30px;
    }
    
    .about-exp-para{
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 30px;
    }

    .About-exp{
      width: 90%;
    }
}

.expertise-content {
  position: relative;
  margin: 100px 0;
}

.expertise-container {
  max-width: 1200px;
  margin: 0 auto; /* This centers the container */
  padding: 0 15px; /* This gives some padding on larger screens */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center; /* Add this line to center the flex items */
}

.ExpertiseStart_heading{
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 70px 0;
}

.card {
  flex: 0 0 calc(30% - 30px);
  border-radius: 10px;
  overflow: hidden;
  height: 350px;
  transition: all 0.7s ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.card:hover .card-content {
  background-color: #ffb80397;
  /* Yellow background on hover */
  color: white;
  transition: all 0.5s ease-in-out;

}

.card-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* Image should be above the card but below the content */
  opacity: 0.3;
}

.card-content {
  padding: 20px;
  color: #ffb703;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 3;
  /* Highest z-index ensures content and its background overlays everything */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;

}

.card-number {
  font-size: 2rem;
  font-weight: 700;
}

.card-heading {
  font-size: 1.5rem;
  margin-top: 10px;
  max-width: 300px;
}

.card-paragraph {
  margin-top: 20px;
  max-width: 300px;

}

.card-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 300px;

}

.link-button,
.sample-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.link-button {
  background-color: white;
  color: #ffb703;
  border: 2px solid #ffb703;
}

.sample-button {
  background-color: #ffb703;
  color: white;
}

@media screen and (max-width: 768px) {
  .card {
      flex: 0 0 100%; /* This will ensure one card takes the full width on mobile */
  }
  .ExpertiseStart_heading{
      font-size: 35px;
      text-align: center;
      color: white;
      margin: 50px 0;
  }
}