  .parallax-wrapper {
    position: relative;
    overflow: hidden;
}

.parallax-bg {
    background-image: url('../../assets/para.png');
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale();

}

.expertise-content {
    position: relative;
    margin:0;
}

.expertise-container {
    max-width: 1200px;
    margin: 0 auto; /* This centers the container */
    padding: 0 15px; /* This gives some padding on larger screens */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center; /* Add this line to center the flex items */
}

.ExpertiseStart_heading{
    background-color: #000;
    color: white;
    padding-top: 80px;
    padding-left: 50px;
    font-size: 64px;
    height: 140px;
    font-weight: 700;
    margin-bottom: 50px;
}

.card {
    flex: 0 0 calc(30% - 30px);
    border-radius: 10px;
    overflow: hidden;
    height: 450px;
    transition: all 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    margin-bottom: 50px;
}

.card:hover .card-content {
    background-color: #cb2000;
    /* Yellow background on hover */
    color: white;
    opacity: 1; /* Fully visible when hovered */
    visibility: visible; /* Make content clickable */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; 

}

.card-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* Image should be above the card but below the content */
    opacity: 1;
}

.card-content {
    padding: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Ensure the content doesn't block anything */
    transition: opacity 0.5s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transition for opacity and visibility */
}

.card-number {
    font-size: 2rem;
    font-weight: 700;
}

.card-heading {
    font-size: 1.5rem;
    margin-top: 10px;
    max-width: 300px;
}

.card-paragraph {
    margin-top: 20px;
    max-width: 300px;

}

.card-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;

}

.link-button,
.sample-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.link-button {
    background-color: #cb2000;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
}

.sample-button {
    background-color: #ffb703;
    color: white;
}

@media screen and (max-width: 768px) {
    .card {
        flex: 0 0 100%; /* This will ensure one card takes the full width on mobile */
    }
    .ExpertiseStart_heading{
        font-size: 35px;
        /* text-align: center; */
        color: white;
        /* margin: 0; */
        height: 100px;
        padding-top: 50px;
        padding-left: 20px;
    }
}