.unique-full-bg {
    background-color: rgb(255, 255, 255);
    padding: 60px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.Contact_head{
    font-size: 30px;
}
.unique-contact-container {
    display: flex;
    justify-content: space-between;
    color: black;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.unique-form-section {
    flex: 1;
    margin-right: 20px;
}

.unique-input-group {
    margin-bottom: 15px;
}

.unique-input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.unique-input-group input, .unique-input-group textarea {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #c20000;
    color: black;
    border-radius: 10px;
}

.contact_button {
    padding: 15px 40px;
    border: none;
    background-color: #c20000;
    color: white;
    cursor: pointer;
    width: 150px;
    border-radius: 30px;
    border: 1px solid #c20000;
    font-size: 15px;
}

.contact_button:hover {
    background-color: white;

    color: #c20000;
    border: 1px solid #c20000;
    transition: all 0.4s ease-in-out;
}

.unique-image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.unique-image-section img {
    max-width: 100%;
    max-height: 400px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .unique-contact-container {
        flex-direction: column;
    }

    .unique-form-section, .unique-image-section {
        margin: 0;
        max-width: 90%;
    }
    .Contact_head{
        font-size: 20px;
    }
    .contact_button {
        padding: 10px 30px;
        font-size: 13px;
    }
    .unique-full-bg {
        background-color: rgb(255, 255, 255);
        padding: 40px 0;
        display: flex;
        justify-content: center;
        position: relative;
    }
}

