@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.footer_wrapper {
    /* background-color: #bdbdbdfc; */
    background-image: radial-gradient( circle 604px at 18.3% 77%,  #c20000 3.4%, #000000 56.6% );
    /* border-top-left-radius: 100px; */
    /* border-top-right-radius: 100px; */
    padding: 100px 100px;
    position: relative;

}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_logo {
    width: 200px;
    height: 100%;
    margin-top: -80px;
}

.footer_logo_content {
    max-width: 390px;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    color: #fff;
}

.footer_content_2_head_1 {
    border-bottom: 3px solid #fff;
    max-width: 150px;
    color: #fff;
}

.footer_content_2_para_1 {
    font-size: 17px;
    color: #fff;
}

.footer_content_2_para_1:hover {
    text-decoration: underline;
}

.footer_content_Reach_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.footer_content_content_1 {
    font-size: 14px;
    margin: 10px 10px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.icon__footer {
    width: 1.2em;
    height: 1.2em;
}

.quotes {
    color: #fff;
}

#unique-message::placeholder {
    color: rgb(169, 169, 169);
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

#unique-phone::placeholder {
    color: rgb(169, 169, 169);
    font-family: 'Raleway', sans-serif;


}

#unique-email::placeholder {
    color: rgb(169, 169, 169);
    font-family: 'Raleway', sans-serif;


}

#unique-name::placeholder {
    color: rgb(169, 169, 169);
    font-family: 'Raleway', sans-serif;


}


@media (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .footer_wrapper {

        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 100px 40px;
    }

    .footer_content_2_para_1 {
        font-size: 15px;
    }

    .footer_logo {
        width: 200px;
        height: 160px;
    }

    .footer_logo_content {
        font-size: 15px;
        font-weight: 400;
    }

    .footer_content_2_head_1 {
        font-size: 25px;
    }
}